@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --bg-color:#0f172a;
    --card-color:#1e293b;
    --accent:#ec4899;
    --text:#ffffff;
    --light:#cbd5e1;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:var(--bg-color);
    color:var(--text);
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:1.5rem;
    font-weight:600;
    color:var(--accent);
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:var(--accent);
}

/* Profile */

.profile-section{
    min-height:80vh;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;

    padding:50px 8%;
}

.profile-image img{
    width:260px;
    height:260px;
    border-radius:50%;
    object-fit:cover;

    border:5px solid var(--accent);

    box-shadow:
    0 0 25px rgba(236,72,153,.5);
}

.profile-content h1{
    font-size:3rem;
}

.profile-content h2{
    color:var(--accent);
    margin:10px 0;
}

.profile-content p{
    color:var(--light);
    margin-bottom:20px;
}

.profile-content button{
    padding:12px 25px;
    border:none;
    border-radius:10px;

    background:var(--accent);
    color:white;

    cursor:pointer;
    transition:.3s;
}

.profile-content button:hover{
    transform:translateY(-3px);
}

/* Skills */

.skills-section{
    padding:80px 8%;
    text-align:center;
}

.skills-section h2{
    margin-bottom:30px;
}

.skills-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;
}

.skill-card{
    background:var(--card-color);
    padding:25px;
    border-radius:15px;

    transition:.3s;
}

.skill-card:hover{
    transform:translateY(-5px);
    border:1px solid var(--accent);
}

/* About */

.about-section{
    padding:80px 8%;
    text-align:center;
}

.about-section h2{
    margin-bottom:20px;
}

.about-section p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
    color:var(--light);
}

/* Contact */

.contact-section{
    padding:80px 8%;
    text-align:center;
}

.contact-btn{
    margin-top:20px;

    padding:15px 30px;

    border:none;
    border-radius:10px;

    background:var(--accent);
    color:white;

    cursor:pointer;
}

/* Responsive */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .profile-section{
        flex-direction:column;
        text-align:center;
    }

    .profile-content h1{
        font-size:2.2rem;
    }

    .profile-image img{
        width:220px;
        height:220px;
    }
}
